# Local Terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# Terraform state files (sensitive)
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Crash logs (if any)
crash.log
crash.*.log

